@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lato&display=swap');

* {
    --darkgrey: #444;
	--github: #24292e;
    --grey: #414f5b;
	--hoverLink: #f55;
    --layout: #e6e6e6;
	--linkedin: #0e76a8;
    --white: #fff;
    --offwhite: #e9eeee;
    --offwhite2: #eee;
    --offwhite3: #fadfdf;
    --grey1: #ccc;
    --grey3: #999;
    --grey4: #777;
    --bluegreen: #ffca4f;
}
body {
    background-image: linear-gradient(var(--white), var(--offwhite2));
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.title {
    font-size: 3em;
    color: var(--grey4);
}

.title-img {
    width: 50px;
    margin-left: 10px;
}

@media (max-width:650px) {
    .title {
        text-align: center;
        font-size: 2em;
        color: var(--grey4);
    }
    
    .title-img {
        width: 40px;
        margin-left: 10px;
    }
}

.menu {
    background-color: var(--grey4);
    display: flex;
    justify-content: center;
}
.menu-title {
    margin: 5px 0;
    font-size: 1.2em;
    color: var(--white);
    cursor: pointer;
    padding: 2px;
}
.menu-title:hover {
    color: var(--bluegreen);
}

.menu-title_words {
    margin-left: 0.1em;
}

.fa-plus-square {
    font-size: 1em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(1, fr);
    width: min-content;
    height: min-content;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    grid-gap: 10px;
}
@media (max-width: 1275px) {
    .grid-container {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(1, fr);
    }
}

@media (max-width: 950px) {
    .grid-container {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(1, fr);
    }
}
@media (max-width: 650px) {
    .grid-container {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(1, fr);
        margin: 20px auto 250px;
    }
}

.grid-item {
    border-radius: 15px;
    box-shadow: var(--grey1) 1px 1px 5px;
    width: 300px;
    height: min-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    cursor: move;
    transition: transform 0.1s linear;
}

.grid-item:hover {
    background-color: var(--offwhite2);
}

.book-title {
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    margin: 10px 0;
}

.book-info {
    list-style: none;
    padding-left: 5px;
    margin: 10px 0;
}

.relative {
    position: relative;
}

.fa-trash-alt {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.fa-trash-alt:hover {
    color: red;
    cursor: pointer;
}

.dragging {
    opacity: 0.5;
}

.draggingover {
    background-color:var(--offwhite);
    border-color: var(--grey3);
    transform: scale(0.97);
    transition: transform 0.15s linear;
}

.emerging-window {
    background-color:var(--grey3);
    border-radius: 25px;
    border: 1px solid var(--grey4);
    box-shadow: var(--grey4) 1px 1px 5px;
    width: 300px;
    height: 320px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    z-index: 200;
}

.new-book {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 1.8em;
    color: var(--white);
    margin: 0;
}

.new-book_form {
    display: flex;
    flex-direction: column;
}

.new-book_form > input {
    margin: 5px 0;
}

.form-label {
    font-size: 1em;
    color: var(--white);
}
.form-field {
    display: flex;
    flex-direction: row;
}
.form-read {
    margin-left: 10px;
}

.form-button {
    width: 100px;
    height: 40px;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 1px solid var(--grey4);
    background-color: var(--grey1);
}
.fa-times {
    text-align: right;
    margin: 0;
    cursor: pointer;
    color: var(--grey4);
}
.fa-times:hover {
    text-align: right;
    margin: 0;
    cursor: pointer;
    color: var(--white);
}

.hidden {
    visibility: hidden; /*TODO check this property in js */
}

.read-button {
    margin: 10px 0;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: var(--grey1) 1px 1px 5px;
    cursor: pointer;
}

.read {
    background-color: var(--offwhite);
}

.not-read {
    background-color: var(--offwhite3);
}


/*********FOOTER***********/
.footer {
	background-color:var(--white);
    border-top: 5px solid var(--grey4);
    bottom: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    justify-content: center;
    position: fixed;
    width: 100%;
}
@media (max-width:650px) {
	.footer {
        grid-template-columns: 1fr;
    }
    .controls {
        margin: 5px auto 220px;
    }
}
.footer__item {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 1rem;
	width: 100%;
}
.footer__item:nth-child(3) {
	justify-self: center;
	max-width: 300px;
}
.footer__logo {
	height: 40px;
	padding-right: 0.3rem;
}

.fa-linkedin {
    color: var(--linkedin);
    font-size: 2.5em;
	padding: 5px;
}
.fa-github-square {
    color: var(--github);
    font-size: 2.5em;
	padding: 5px;
}
.fa-envelope-square {
    color: var(--darkgrey);
    font-size: 2.5em;
	padding: 5px;
}
.fa-linkedin:hover, .fa-github-square:hover, .fa-envelope-square:hover {
	color: var(--hoverLink);
	transition: 0.3s;
}
.madeby {
	max-width: 150px;
	padding: 10px;
}